.wrapper {
  display: flex;
  flex-direction: column;
  /* Main Axis */
  justify-content: space-around;
  /* Cross Axis */
  align-items: stretch;
  height: 100vh;
}

.box {
  /* width: 200px; */
  height: 200px;
  background: peru;
  color: white;
}
