.wrapper {
  display: flex; /* flex-direction: row */
  justify-content: space-around; /* main-axis */
  align-items: flex-start; /* cross-axis */
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
}
