@mixin sexyTitle {
  color: blue;
  font-size: 30px;
  margin-bottom: 12px;
}

// @mixin link($color) {
//   text-decoration: none;
//   display: block;
//   color: $color;
// }

@mixin link($word) {
  text-decoration: none;
  display: block;
  @if $word == "odd" {
    color: blue;
  } @else {
    color: red;
  }
}
